<div>
    <pre>
        <code class="language-javascript">
/**
* @param {number[]} nums
* @return {number}
*/
var rob = function(nums) {
    var amoutOdd = 0;
    var amoutEven = 0;
    for(var i=0;i<nums.length;i++){
        if(i%2==0){
            amoutOdd = max(amoutOdd+nums[i],amoutEven);
        }else{
            amoutEven = max(amoutOdd,amoutEven+nums[i]);
        }
    }
    return max(amoutOdd,amoutEven);
};
var max =function(a,b){
    return a>b?a:b;
}
            </code>
        </pre>
    </div>